
#principal{
    background-color: rgb(58, 58, 58);
    text-align: left;
    border-radius: 5px;
    box-shadow: 1px 1px 11px rgb(95, 95, 95);

}

#contenedor-codigo{
    padding-left: 4%;
}

#pestanas {
    display: flex;
    flex-direction: row;

    height: 6vh;
    width: 100%;
    margin: 0;
}

.pestana-activa {
    border: 2px solid black;
    border-bottom: 0px;
}

#pestanas div:not(.pestana-activa){
    border-bottom: 2px solid black;
    background-color: rgb(48, 48, 48);
}

#pestanas div{
    width: 33%;
    text-align: center;
    align-items: center;
    justify-content: center;

    color: rgb(243, 243, 243);

}



/* Start button */

.fill-btn {
  position: relative;
  width: 220px;
  height: 50px;
  background: transparent;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 2px;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #b5d62f;
  transition: width 0.3s ease;
}

.label {
  position: relative;
  z-index: 1;
  font-weight: bold;
  font-size: 15px;
}



/* false CODE */

.code-text {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;

}


.comment {
    color: rgba(219, 219, 219, 0.856);
}

.yellow-text {
    color: rgb(216, 190, 75);
}

.purple-text {
    color: rgba(193, 93, 206, 0.757);
}

.blue-text {
    color: rgb(85, 167, 221);
}

.green-text {
    color: rgb(83, 160, 83);
}

.red-text {
    color: rgba(252, 89, 103, 0.856);
}

.orange-text {
    color: orange;
}

