
#principal {
  position: fixed;      /* o absolute si el componente ocupa toda la pantalla */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;          /* detrás del contenido */
  background-image: url('./../../../assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  filter: brightness(85%); /* más oscuro */

}
