

#menu-superior{
  background-color: rgb(241, 225, 0);

  border-radius: 3px;
  box-shadow: 6px 6px black;

  display: flex;
  width: 30vw;
  justify-content: center;

  margin-top: 2%;
  margin-bottom: 7%;

}



.menu {

  padding: 0;
  gap: 1.1rem;
  display: flex;
  flex-direction: row;

  list-style: none;
  font-weight: 1000;
  font-size: 20px;
} 

.bracket {
  margin: 0 -0.6rem; 
  opacity: 0.7;
}

/* Active and done games style in the menus */
.active {
  font-weight: bold;
  color: rgb(25, 33, 185);
}

.menu ul, li:not(.active):not(.bracket):not(.texto){
  opacity: 0.2;
}

.done {
  text-decoration: line-through;
  opacity: 0.6;
}